@{
    ViewData["Title"] = "Home Page";
    int count = 1;
}

<style>
    /* Tablo hücrelerini sınırla ve taşan içeriği görüntüle */
    .table td {
        max-width: 750px; /* Maksimum genişlik ayarı */
        overflow: auto; /* Taşan içeriği görüntüle */
        text-align: left; /* Metni yatayda ortala */
        vertical-align: middle; /* Metni dikeyde ortala */
    }

    .table {
        margin: none;
    }

</style>
@model List<HomeDto>

<div class="row">
    <div class="card col-sm-12">

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Soru</th>
                        <th>Puan</th>
                        <th>Oda Numarası</th>
                        <th>Mail Adresi</th>
                        <th>Cevaplama Tarihi</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@count</td>
                            <td>@item.QuestionId</td>
                            <td>@item.AnswerId Puan </td>
                            <td>@item.RoomNumber</td>
                            <td>@item.Mail</td>
                            <td>@item.CreatedDate</td>

                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/Survey/AddQuestion" class="btn btn-primary w-100">Yeni Soru Ekle</a>
        </div>
    </div>
</div>

